<div class="topLine"></div>
<h4 id="about-title">About</h4>
<p class="about-text">
  Bacon ipsum dolor amet pig pork loin shoulder jerky,
  pork ham hock rump sausage strip steak pork belly.
  Corned beef venison filet mignon, ham hock sausage
  turkey t-bone bacon flank pig doner tenderloin capicola
  kielbasa leberkas. Landjaeger spare ribs ham hock strip
  steak leberkas short loin tongue pastrami beef biltong
  frankfurter picanha ground round hamburger. Bacon
  meatball cow fatback turducken pork. Pork loin ground
  round kielbasa venison, shoulder turducken pork pork
  belly turkey brisket strip steak. Meatball chicken
  frankfurter spare ribs picanha ham venison jerky pork.
</p>
<p class="about-text">
  Pork chop salami pancetta, tri-tip pastrami bacon tongue.
  Pork loin pig porchetta kevin pastrami. Sirloin turducken
  drumstick flank ham rump, meatball shoulder venison cow
  porchetta short loin. Landjaeger chuck rump shank pork pork
  belly pig sirloin ground round ball tip bresaola doner tri-tip
  tongue. Pork belly jerky chuck venison hamburger chicken short
  loin bacon turducken corned beef pancetta sirloin.
</p>

<div class="googleMaps">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
</div>

<div class="locationWrap">
  <div class="location">
    <div class="leftLoc">
        <p>
          1900 Old Middlefield Way<br>
          Suite E<br>
          Mountain View CA 94043
        </p>
    </div>
    <div class="middleLoc"></div>
    <div class="rightLoc">
        <p>
          Hours<br>
          Mon-Fri<br>
          9AM-6AM
        </p>
    </div>
  </div>
</div>
