<div class="top-header">
  <div class="top-header-title">
  </div>
</div>

<div class="container about-wrap minimal-margin">
  <div class="row d-flex flex-row justify-content-center align-items-center flex-wrap">
    <div class="about-adam-left">
      <div style="text-align:center;">
        <img class="about-adam-img" src="styles/images/aboutAdam01.jpg" alt="" />
      </div>
    </div>
    <div class="about-adam-right">
      <h4>ABOUT ADAM </h4>
      <p class="about-text">
        Owned and operated by Adam Aquino, integrity and top-notch customer
        service is AA Motorworks highest priority. For the past 8 years Adam
        has been a Professional Automotive Technician, starting his career at
        a Subaru specialty shop, he then branched out to other Japanese &
        European automotive shops to broaden his skill-set. Adam also is a
        10 year military veteran of the U.S. Air Force and
        served in the U.S. Air Force Reserves as an Avionics Technician. With
        Adam's vast knowledge, troubleshooting skills, and sharp attention to
        detail, you will not be let down. Adam opened AA Motorworks in 2014 to
        provide a trustworthy and personal automotive service and repair
        experience for the greater Silicon Valley.
      </p>
    </div>
  </div>
</div>

<div class="locationWrap">
  <div class="location">
    <div class="leftLoc">
      <p>
        <div class="contact-heading-wrap"><span class="footer-title">Contact</span></div>
        <i class="fa fa-phone" aria-hidden="true" style="padding-right: 5px"></i>
        (650) 965-0990<br>
        <i class="fa fa-envelope-o" aria-hidden="true" style="padding-right: 5px"></i>
        adam@aamotorworks.com
      </p>
    </div>
    <div class="rightLoc">
      <div class="footer-title">
        HOURS
      </div>
      <p>
      Monday - Friday: 9AM-6AM<br>
      Saturday and Sunday: Closed<br>
      </p>
    </div>
  </div>
</div>

<div class="container about-wrap minimal-margin">
  <div class="row">
    <div class="col-md-6 about-adam-left location-text">
       <h4>LOCATED AT </h4>
          <p>
            1900 Old Middlefield Way<br>
            Suite E<br>
            Mountain View CA 94043
          </p>
      </div>
    <div class="col-md-6 about-adam-right">
      <div class="map-responsive">
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBTf5TIFPtLRwR06HcbIAfvvi_8I6H6b4k
            &q=AA+Motorworks,Mountain+View+CA" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
