<div class="top-header">
  <div class="top-header-title">
  </div>
</div>

<div class="about-wrap">
  <div class="about-heading-wrap">
    <h4 class="about-heading">About the shop and adam</h4>
  </div>
  <p class="about-text">
    Bacon ipsum dolor amet pig pork loin shoulder jerky,
    pork ham hock rump sausage strip steak pork belly.
    Corned beef venison filet mignon, ham hock sausage
    turkey t-bone bacon flank pig doner tenderloin capicola
    kielbasa leberkas. Landjaeger spare ribs ham hock strip
    steak leberkas short loin tongue pastrami beef biltong
    frankfurter picanha ground round hamburger. Bacon
    meatball cow fatback turducken pork. Pork loin ground
    round kielbasa venison, shoulder turducken pork pork
    belly turkey brisket strip steak. Meatball chicken
    frankfurter spare ribs picanha ham venison jerky pork.
  </p>
  <div class="about-adam-img-wrap">
    <img class="about-adam-img" src="styles/images/aboutadam3.jpg" alt="" />
  </div>
  <p class="about-text">
    Pork chop salami pancetta, tri-tip pastrami bacon tongue.
    Pork loin pig porchetta kevin pastrami. Sirloin turducken
    drumstick flank ham rump, meatball shoulder venison cow
    porchetta short loin. Landjaeger chuck rump shank pork pork
    belly pig sirloin ground round ball tip bresaola doner tri-tip
    tongue. Pork belly jerky chuck venison hamburger chicken short
    loin bacon turducken corned beef pancetta sirloin.
  </p>
</div>

<div class="googleMaps">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
</div>

<div class="locationWrap">
  <div class="location">
    <div class="leftLoc">
        <p>
          <div class="contact-heading-wrap"><span class="main-heading">Location</span></div>
          1900 Old Middlefield Way<br>
          Suite E<br>
          Mountain View CA 94043
        </p>
    </div>
    <div class="middleLoc">
      <p>
        <div class="contact-heading-wrap"><span class="main-heading">Contact</span></div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        (650) 965-0990<br>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        adam@aamotorworks.com
      </p>
    </div>
    <div class="rightLoc">
        <p>
          <div class="contact-heading-wrap"><span class="main-heading">Hours</span></div>
          Monday: 9AM-6AM<br>
          Tuesday: 9AM-6AM<br>
          Wednesday: 9AM-6AM<br>
          Thursday: 9AM-6AM<br>
          Friday: 9AM-6AM<br>
          Saturday and Sunday: Closed<br>
        </p>
    </div>
  </div>
</div>
