<div class="top-header">
  <div class="top-header-title">
  </div>
</div>

<div class="container about-heading-wrap">
  <h4 class="custom-header">Custom builds and parts</h4>
</div>

<div class="container-fluid featured-wrap">
  <div class="row">
    <div class="feature-a d-flex flex-row justify-content-center flex-wrap">
      <div class="feature-b match-one">
        <img src="styles/images/clint-track1.png" alt="" class="feature-pic" />
      </div>
      <div class="feature-c">
        <div class="center-vert">
          <h4>2014 Subaru WRX</h4>
          <p>
            Take a look at the build we did for Clint Fletcher's WRX Hatchback.
          </p>
          <ul>
            <li>LIC Pinned ej25 w/ Darton Sleeves</li>
            <li>Manley Pistons and Turbo Tuff Rods</li>
            <li>GSC Valves and Stage 1 Cams w/ Springs and Retainers</li>
            <li>FP Green Turbo</li>
            <li>Cobb Flex Fuel Kit</li>
            <li>Ron Davis Radiator + Oil Cooler Combo</li>
            <li>FatHouseFab Equal Length 321 Headers</li>
            <li>Radium Surge Tank</li>
          </ul>
      </div>
      <div class="dyno-numbers dyno-a">
          <span class="wtq"><span class="red">475</span><span style="font-size: 18px;"> WTQ</span></span><span class="whp">E85: &nbsp<span class="red">500</span><span style="font-size: 18px;"> WHP</span></span><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid featured-wrap">
  <div class="row">
    <div class="feature-a d-flex flex-row justify-content-center flex-wrap">
      <div class="feature-b match-one">
        <img src="styles/images/2017-wrx.jpg" alt="" class="feature-pic" />
      </div>
      <div class="feature-c">
        <div class="center-vert">
          <h4 style="margin-bottom: 30px; margin-top: 30px;">2017 WRX</h4>
          <p>
            Added some RCE yellow lowering springs, Volk ZE40 Mag Blue wheels with Michelin Super Sport tires to a customers 2017 WRX. What an awesome setup!
          </p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid featured-wrap">
  <div class="row">
    <div class="feature-a d-flex flex-row justify-content-center flex-wrap">
      <div class="feature-b">
        <img src="styles/images/fozzy1.jpg" alt="" class="feature-pic" />
        <img src="styles/images/fozzy2.jpg" alt="" class="feature-pic" />
      </div>
      <div class="feature-c">
        <div class="center-vert">
          <h4>2004 Forester XTi</h4>
          <p>
            You might remember the 412whp/435ftlb 2006 STi we built not too long ago.
            It had an AA Stg2 long block, Blouch Dom 1.5XT-R turbo, 1300cc Injector
            Dynamics squirters, ran on E85, etc.
          </p>
          <p>Well it had a meeting with a freeway jersey barrier. Luckily we were able to
              salvage most of the parts and swap it over into the customers newly purchased 2004 Forester XT
          </p>
          <p> We also fitted the Forester with new lifted suspension using King Springs, KYB struts and Whiteline Sway Bars. Wheels and tires are Method Rally MR502's with Yokohama A/T rubbers.
          </p>
          <ul>
            <li>Blouch Dom 1.5 XT-R 8cm turbo</li>
            <li>GrimmSpeed TMIC</li>
            <li>Tomei Equal Length header</li>
            <li>Deatschwerks 320lph pump</li>
            <li>Cobb 3-port EBCS</li>
            <li>AA Motorworks Stg 2 Built Longblock</li>
            <li>And much more!</li>
          </ul>
          <div class="dyno-numbers dyno-b">
            <span class="wtq"><span class="red">369</span><span style="font-size: 18px;"> WTQ</span></span><span class="whp">91: &nbsp<span class="red">348</span><span style="font-size: 18px;"> WHP</span></span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid featured-wrap">
  <div class="row">
    <div class="feature-a d-flex flex-row justify-content-center flex-wrap">
      <div class="feature-b">
        <img src="styles/images/blacksti1.jpg" alt="" class="feature-pic" />
      </div>
      <div class="feature-c">
        <div class="center-vert">
          <h4>Forester XTi</h4>
          <p>STi we built not too long ago from the post above.
          </p>
          <ul>
            <li>BlouchTurbo Dom 1.5</li>
            <li>GrimmSpeed TMIC </li>
            <li>COBB Tuning Intake</li>
            <li>1300cc Injector Dynamics Squirters</li>
            <li>AA Motorworks Stg 2 Built Longblock</li>
          </ul>
          <div class="dyno-numbers dyno-c">
            <span class="wtq"><span class="red">405</span><span style="font-size: 18px;"> WTQ</span></span><span class="whp">E85: &nbsp<span class="red">405</span><span style="font-size: 18px;"> WHP</span></span><br>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>