<div class="top-header">
  <div class="top-header-title">
  </div>
</div>

<div class="container about-heading-wrap">
  <h4 class="about-heading">Custom builds and parts</h4>
</div>

<div class="custom-wrap">

  <div class="custom-feature">
    <div class="">
      <img src="styles/images/fozzy1.jpg" alt="" class="feature-pic" />
      <img src="styles/images/fozzy3.jpg" alt="" class="feature-pic" />
    </div>
    <div class="feature-caption">
      <h4>Forester XTi</h4>
      <p>
        You might remember the 412whp/435ftlb 2006 STi we built not too long ago.
        It had an AA Stg2 long block, Blouch Dom 1.5XT-R turbo, 1300cc Injector
         Dynamics squirters, ran on E85, etc.
      </p>

      <p>
        Well it had a meeting with a freeway jersey barrier. Luckily we were able to
        salvage most of the parts and swap it over into the customers newly purchased 2004 Forester XT
      </p>

      <p>
          We also fitted the Forester with new lifted suspension using King Springs, KYB struts and
          Whiteline Sway Bars. Wheels and tires are Method Rally MR502's with Yokohama A/T rubbers.
      </p>
      <ul>
        <li>BlouchTurbo Dom 1.5</li>
        <li>GrimmSpeed TMIC </li>
        <li>COBB Tuning Intake</li>
        <li>AA Motorworks Built Longblock
</li>
      </p>
      <div class="dyno-numbers">
        <span class="wtq"><span class="red">405</span> WTQ</span><span class="whp">E85: <span class="red">405</span> WHP</span>
      </div>
    </div>
  </div>

  <div class="custom-feature">
    <div class="">
      <img src="styles/images/blacksti1.jpg" alt="" class="feature-pic" />
      <img src="styles/images/blacksti2.jpg" alt="" class="feature-pic" />
    </div>
    <div class="feature-caption">
      <h4>2006 Subaru WRX STi</h4>
      <p>
        You might remember the 412whp/435ftlb 2006 STi we built not too long ago.
        It had an AA Stg2 long block, Blouch Dom 1.5XT-R turbo, 1300cc Injector
         Dynamics squirters, ran on E85, etc.
      </p>
      <ul>
        <li>Blouch Dom 1.5 XT-R 8cm turbo</li>
        <li>GrimmSpeed TMIC</li>
        <li>Tomei Equal Length header</li>
        <li>Deatschwerks 320lph pump</li>
        <li>Cobb 3-port EBCS</li>
        <li>AA Motorworks Build Longblock</li>
        <li>And much more!</li>
      </p>
      <div class="dyno-numbers">
        <span class="wtq"><span class="red">369</span> WTQ</span><span class="whp">91: &nbsp<span class="red">348</span> WHP</span><br>
        <span class="wtq"><span class="red">435</span> WTQ</span><span class="whp">E85: &nbsp<span class="red">412</span> WHP</span>
      </div>
    </div>
  </div>

</div>
