<div id="fb-root"></div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active carousel1">
      <!-- <img class="first-slide" src="images/sti2.jpg" alt="First slide"> -->
      <!-- <img class="first-slide" src="images/scott1.jpg" alt="First slide" style=""> -->
      <div class="container">
        <!-- <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div> -->
      </div>
    </div>
    <div class="item carousel2">
      <!-- <img class="second-slide" src="images/td.jpg" alt="Second slide"> -->
      <div class="container">
        <!-- <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div> -->
      </div>
    </div>
    <div class="item carousel3">
      <!-- <img class="third-slide" src="images/flag.jpg" alt="Third slide"> -->
      <div class="container">
        <!-- <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div> -->
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->


<div class="homeContentWrap">
  <div class="mainContent">
    <div class="get-started">
      <div class="get-started-title">
        <p>
          <h4><span class="main-heading">AA Motorworks, Subaru Performance Specialist Shop</span></h4>
        </p>
      </div>
      <div class="get-started-content">
        <p>
          AA Motorworks is an automotive shop dedicated to your performance
          wants and needs. We specialize in Subarus yet aren't short of knowledge
          when it comes to others makes and models. Give us a call and see what
          we can do for you.
        </p>
      </div>
      <div class="get-started-button">
        <button class="main-button" type="button" name="button">Learn More</button>
      </div>
    </div>

    <hr id="hr-home">

  <div class="main-wrap-2">
    <div class="fb-wrap">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faamotorworks&tabs=timeline&width=340&height=933&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=410137119196459" width="340" height="933" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    <div class="content first-content">
      <div class="content-left">
        <h4><span class="main-heading2">Diagnostics</span></h4>
        <p>
          With our top of the line diagnostic center from Snap On,
          we can provide a quick and full diagnostic on your vehicle.
          With its full range of scan tool functions, tough dianostics
          are made easy.
        </p>
        <a href="#services"><button class="main-button3" type="button" name="button">Discover</button></a>
      </div>
      <div class="content-right">
        <img src="styles/images/snapOnRsz.jpg" alt=""  style="width: 380px; height: 228px;"/>
      </div>
    </div>

    <div class="content">
      <div class="content-right">
        <img src="styles/images/snapOnRsz.jpg" alt=""  style="width: 380px; height: 228px;"/>
      </div>
      <div class="content-left">
        <h4><span class="main-heading2">General Maintenance</span></h4>
        <p>
          With our top of the line diagnostic center from Snap On,
          we can provide a quick and full diagnostic on your vehicle.
          With its full range of scan tool functions, tough dianostics
          are made easy.
        </p>
        <a href="#services"><button class="main-button3" type="button" name="button">Discover</button></a>
      </div>
    </div>


    <div class="content last-content">
      <div class="content-left">
        <h4><span class="main-heading2">Custom Motor Builds</span></h4>
        <p>
          With our top of the line diagnostic center from Snap On,
          we can provide a quick and full diagnostic on your vehicle.
          With its full range of scan tool functions, tough dianostics
          are made easy.
        </p>
        <a href="#services"><button class="main-button3" type="button" name="button">Discover</button></a>
      </div>
      <div class="content-right">
        <img src="styles/images/track1.jpg" alt=""  style="width: 380px; height: 228px;"/>
      </div>
    </div>


    <div class="appointment-home-wrap">
      <div class="appointment-content">
        <div class="appt-heading-wrap">
          <span class="main-heading">Make An Appointment Today</span>
        </div>
        <a href="#about"><button class="main-button2" type="button" name="button">Contact Us</button></a>
      </div>
    </div>
  </div> <!-- main-wrap-2 -->
  </div>
</div>

    <script language="JavaScript" type="text/javascript">
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 3000
        })
      });
    </script>
