<!-- <div class="topLine"></div> -->
<div class="top-header">
  <div class="top-header-title">
  </div>
</div>
<div class="services-main-wrap">
  <div class="custom-build-wrap">
    <div class="build-img-wrap">
      <div class="build-img">

      </div>
    </div>
    <div class="build-content">
      <h3>Maintainence</h3>
      <p>
        Here at AA Motorworks we take general maintainence seriously.
        It's vital that your car is running healthy and strong both on
        and off the track. When you come to us, you’re giving us
        consent to perform quality where no corners will be cut. Scroll
        down to look over the common services we provide.
      </p>
      <h3>Need a Custom Build?</h3>
      <p>
        Landjaeger spare ribs ham hock strip
        steak leberkas short loin tongue pastrami beef biltong
        frankfurter picanha ground round hamburger. Bacon
        meatball cow fatback turducken pork. Pork loin ground
        round kielbasa venison, shoulder turducken pork pork
        belly turkey brisket strip steak. Meatball chicken
        frankfurter spare ribs picanha ham venison jerky pork.
      </p>
      <h3>Looking for Fabrication?</h3>
      <p>
        Bacon ipsum dolor amet pig pork loin shoulder jerky,
        pork ham hock rump sausage strip steak pork belly.
        Corned beef venison filet mignon, ham hock sausage
        turkey t-bone bacon flank pig doner tenderloin capicola
        kielbasa leberkas.
      </p>
    </div>
  </div>

  <div class="test">

  </div>

  <!-- <hr id="services-hr"> -->

  <!-- <div class="services-header-wrap">
    <div class="services-header">
      Services
    </div> -->

  <div class="services-wrap">
    <div class="service-box-wrap">
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal1">
          105k
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal2">
        30/60/90k
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal3">
        Brake Service
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal4">
          Pre-purchase Inspection
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal5">
        Diagnostics
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal6">
        Fluid Changes
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal7">
        Clutch Service
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal8">
        Brake Service
      </button>
      <button type="button" class="btn service-box" data-toggle="modal" data-target="#myModal9">
        Another Brake Service
      </button>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">105k</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">30/60/90k</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Brake Service</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Pre-purchase Inspection</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Diagnostics</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Fluid Changes</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Clutch Service</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Brake Service</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 9-->
  <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Brake Service</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>


<script type="text/javascript">
$('.modal-toggle').on('click', function(e) {
  e.preventDefault();
  $('.modal').toggleClass('is-visible');
  console.log('HI');
});
</script>
