<div class="custom-build-wrap">
  <div class="build-img-wrap">
    <div class="build-img">

    </div>
  </div>
  <div class="build-content">
    <h3>Maintainence</h3>
    <p>
      Landjaeger spare ribs ham hock strip
      steak leberkas short loin tongue pastrami beef biltong
      frankfurter picanha ground round hamburger. Bacon
      meatball cow fatback turducken pork. Pork loin ground
      round kielbasa venison, shoulder turducken pork pork
      belly turkey brisket strip steak. Meatball chicken
      frankfurter spare ribs picanha ham venison jerky pork.
    </p>
    <h3>Need a Custom Build?</h3>
    <p>
      Landjaeger spare ribs ham hock strip
      steak leberkas short loin tongue pastrami beef biltong
      frankfurter picanha ground round hamburger. Bacon
      meatball cow fatback turducken pork. Pork loin ground
      round kielbasa venison, shoulder turducken pork pork
      belly turkey brisket strip steak. Meatball chicken
      frankfurter spare ribs picanha ham venison jerky pork.
    </p>
    <h3>Looking for Fabrication?</h3>
    <p>
      Bacon ipsum dolor amet pig pork loin shoulder jerky,
      pork ham hock rump sausage strip steak pork belly.
      Corned beef venison filet mignon, ham hock sausage
      turkey t-bone bacon flank pig doner tenderloin capicola
      kielbasa leberkas.
    </p>
  </div>
</div>
