<div class="topLine"></div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Stage 1</h4>
    <p>
      Are you looking for a good little bump in power without
      having to make any huge physical modifications to your Subaru?
      Stage 1 generally consists of just an ECU reflash where boost
      pressure is raised. It’s common for this stage to also include
      an intake. Stage 1 can be achieved via Cobb’s Accessport or
      protune.
    </p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Stage 2</h4>
    <p>
      The stock exhausts from Subaru can be fairly restrictive.
      This is where we enter the most common performance upgrade with
      Subarus. Stage 2 consists of replacing your stock exhaust with an
      aftermarket turboback 3-4" exhaust system. This will allow for a
      significant increase of airflow compared to the stock system.
      Along with the increase of power, your car will also be noticeably
      louder. Just like Stage 1, Stage 2 can be flashed via Cobb's Accessport
      or can be setup through a protune.
    </p>
  </div>
</div>

    <p>
      Beyond this point, the possibilities are endless. Bigger turbos,
      larger intercoolers, built bottom ends, bigger injectors, E85,
      and so on. If this is something that interests you, contact us
      here at AA Motorworks and we can discuss a personalized build for
      you.
    </p>
