.custom-wrap {
  width: 70%;
  background-color: #1e1e1e;
  margin: auto;
}

.featured-wrap .row {
  max-width: 1600px;
  margin: 0 auto;
}

.custom-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  padding: 50px;
  font-size: 24px;
  padding-bottom: 0;
}

.custom-feature {
  margin-bottom: 100px;
  background-color: #363636;
}

.custom-feature-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 100%;
  color: #FFF;
  background-color: #c63939;
}

.feature-pic {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.feature-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #FFF;
  width: 95%;
  margin: auto;
  line-height: 25px;
}

.feature-caption>h4 {
  padding-bottom: 20px;
  font-size: 1.5em;
}

.red {
  color: #c63939;
  font-weight: bold;
}

.feature-a {
  margin: 50px;
}

.feature-b {
  width: 50%;
}
.feature-b img {
  width: 100%;
  margin-right: 40px;
}
.feature-c {
  width: 50%;
  /* flex:1; */
  background: #363636;
  color:#FFF;
  padding: 20px 50px;
  position: relative;
  padding-bottom: 50px;
}

.dyno-numbers {
  font-size: 1.5em;
  font-weight: 200;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.whp {
  float: right;
  margin-right: 10px;
}

.wtq {
  float: right;
}

.dyno-a {
  /* padding-bottom: 0; */
}

.dyno-b {
  /* padding-bottom: 20px; */
}

@media (min-width: 1400px) {
  .featured-wrap {
    width: 1530px;
  }
}

@media (min-width: 1400px) {
  .feature-pic {
    width: 60%;
  }

  .feature-caption>h4 {
    font-size: 1.7em;
  }

  .feature-pic-wrap {
    margin-bottom: 20px;
  }
}

@media (max-width: 1230px) {
  .feature-b {
    width: 100%;
  }
  .feature-c {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .custom-wrap {
    width: 100%;
  }

  .custom-feature {
    padding-right: 20px;
    padding-left: 20px;
  }

  .dyno-numbers {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .center-vert {
    padding-bottom: 55px;
  }
}

@media (max-width: 500px) {
  .custom-feature {
    padding-right: 10px;
    padding-left: 10px;
  }
}